@font-face {
    font-family: MyriadPro-Light;
    src: url("../assets/MyriadPro-Light.ttf");
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url("../assets/MyriadPro-Regular.ttf");
}
body{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: MyriadPro-Regular;
    color: #121212;
    background-color: #F4F1F1;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
@import "_header.scss";